!!! 5
%html
  %head
    %title
      = yield :title
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/reeku.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    #container.container
      #left-margin.span-4
        &nbsp;
      #middle.span-16
        #header.span-16.last
          #header-left.span-6.prepend-2
            = image_tag('RRR-logo-2.jpg')
            #contact
              Erkki Leppänen<br />
              Haaparinne 20<br />
              44150 Äänekoski<br />
              puh. 040 738 9990<br />
              = link_to('rrr@reeku.fi', 'mailto:rrr@reeku.fi')
          #header-right.span-8.last
            = image_tag('reeku-1.jpg')
        #nav.span-16.last.prepend-top
          %ul
            - %w(remontit_ja_saneeraus kanoottivuokraus ohjelmapalvelut).each do |name|
              %li= link_to(name.capitalize.humanize, root_path + name)

        - if notice || alert
          #notices.span-16.last
            %p.notice
              = notice
              %p.alert
                = alert

        = yield

      #right-margin.span-4.last
        &nbsp;
        - if current_user
          = link_to('Sign out', destroy_user_session_path)

