!!! 5
%html
  %head
    %title
      = yield :title
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    #header
      %h1 headeri

    #nav
      %ul
        - %w(etusivu yhteystiedot).each do |name|
          %li= link_to(name.capitalize, name)

    = yield
	